
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice Processing</title>
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- CSS Link -->
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header class="bg-dark text-light py-3">
        <div class="container">
            <h1>Invoice Processing</h1>
        </div>
    </header>
    <main class="container my-5 py-5 border">
        <form action="upload" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="invoice" class="form-label">Upload Invoice:</label>
                <input type="file" name="invoice" id="invoice" class="form-control" accept=".jpg, .png, .pdf, .jpeg">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if output %}
        <div class="my-5">
            <h3>Output:</h3>
            <textarea rows="10" cols="50" name="output" class="form-control">{{ output }}</textarea>
        </div>
        <div class="my-5">
            <h2>CSV File:</h2>
            <a href="{{ url_for('download_csv') }}" download class="btn btn-primary me-3">Download CSV</a>
            <a href="{{ url_for('view_csv') }}" target="_blank" class="btn btn-secondary">View CSV</a>
        </div>
        {% endif %}
    </main>
    
    <footer class="bg-light py-3">
        <div class="container">
            <p>&copy; 2023 Invoice Processing</p>
        </div>
    </footer>
</body>
</html>
